*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

/*
/*/
!mame.exe
!*.sln
!/.github/
!/android-project/
!/benchmarks/
!/artwork/
!/bgfx/
!/docs/
!/build/
!/roms/
!/cfg/
!/nvram/
!/hash/
!/hlsl/
!/keymaps/
!/language/
!/nl_examples/
!/plugins/
!/projects/
!/regtests/
!/samples/
!/scripts/
!/src/
!/shaders/
!/tests/
!/doxygen/
!/web/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
!/*.bdf
!/LICENSE
*.obj
*.filters
*.user
/.idea
**/.vs/**
**/Debug/**
**/Release/**
.vscode
docs/build
docs/source/_build
regtests/chdman/temp
regtests/jedutil/output
/CMakeLists.txt
/samples

